.kitchen--card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 20px;
    margin:20px;
    box-shadow: 7.5px 7.5px 7.5px 7.5px rgba(0,0,0,0.1);
    align-items: center;
  }
  .kitchen--image {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding-right: 15px;
  }
 p{
    color: brown;
 }
  .card--result {
    align-self: center;
  }
  .kitchen--icon{
    width: 100px;
    height: 100px;
  }